.sign-up {
    .user-profile {
        width: 40px;
        height: 40px;
    }
    /* resize images */
    .user-profile button,
    .user-profile img {
        padding: 0;
        width: 100%;
        height: auto;
    }
}