.header {
    .navbar {
        background-color: var(--primary);
        height: 60px;
        box-shadow: var(--elevation-high);
        color: var(--text-color);
        padding: 0 2em;
        display: flex;
    }
    .menu-icon-container {
        display: none;
        height: inherit;
        align-items: center;
    }

    .link {
        margin: 0 .3em;
    }

    .menu-icon {
        cursor: pointer;
    }
    .title {
        font-size: 1.4em;
    }
    .navbar-element,
    .navbar-element button {
        font-weight: bold;
        transition: .2s;
        border-radius: 2em;
    }
    .navbar-element button,
    .navbar-element a {
        padding: .5em 1em;
        display: block;
        height: 100%;
    }
    .navbar-element:hover {
        box-shadow: var(--elevation-mid);
    }
    .active {
        box-shadow: var(--elevation-low);
        background-color: var(--secondary);
    }
    .active a {
        color: var(--white);
    }
    .flex-container {
        display: flex;
        margin: 0;
        align-items: center;
    }
    .flex-start {
        flex: 1;
    }
    @media(max-width:580px) {
        .menu-icon-container {
            display: flex;
        }

        .links {
            display: none;
        }
    }
}