.showcase {
    .center {
        display: flex;
        position: absolute;
        justify-content: center;
        height: 80%;
        width: 100%;
    }

    .container {
        display: flex;
        width: 66%;
        align-items: center;
        flex-wrap: wrap;
    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}