:root {
  --primary: #FFDC06;
  --primary-dimmed: #B29D16;
  --secondary: #CC1989;
  --secondary-dimmed: #B20D75;
  --tertiary: #1FF3FF;
  --warning: #eb1212;
  --text-color: #2c3e50;
  --white: white;
  --bg: #f8f8f8;
  --elevation-high: 0 0 24px grey;
  --elevation-mid: 0 1px 7px grey;
  --elevation-low: 0 1px 2px grey;
  --rounded: 25px;
  --hover: brightness(.8);
  --disabled: opacity(.5);
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a.link {
  position: relative;
  color: var(--secondary-dimmed);
}

a.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-dimmed);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

input, button, submit {
  border: none;
  background-color: inherit;
  outline: none;
}

.btn {
  border-radius: var(--rounded);
  padding: .5em 1em;
  min-width: 4em;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: var(--elevation-low);
}

.btn:hover,
.btn:focus {
  filter: var(--hover);
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-tertiary {
  background-color: var(--tertiary);
}

.btn-warning {
  background-color: var(--warning);
  color: var(--white);
}